<!DOCTYPE html>
<html lang="en">

<head>
</head>
<body>
<form action="https://localhost:8888/moodle29/webservice/rest/server.php" method="post">
 <input type="text" name="wstoken" value="140e55a43b0b7d46fba49ebcff4280c6" /><br>
 <input type="text" name="service" value="core_message_send_messages"/><br>
 <input type="text" name="messages" value="does this break?"/>
<br>
 <input type="submit" value="submit"/>
</form>

</body
</html>