<!DOCTYPE html>
<html lang="en">

<head>


<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Andy Beverly's Florida Insurance School :: Home</title>
<meta name="description" content="Insurance licensing education school, helping Florida Property and Casualty agents and Life, Health and Variable Annuities Agents get licensed. Licenses include the Florida 2-20 General Lines Agent, 20-44 Personal Lines Agent, Conversion of 4-40 CSR to 20-20 General Lines Agent, All Lines Adjuster, and 2-15 Life Health and VA Agent." />
<meta name="keywords" content="florida, insurance, school, license, andy beverly, 2-20, general lines, 20-44, life and health license, variable annuities license" />
<meta name="generator" content="concrete5 - 5.6.1.2" />
<script type="text/javascript">
var CCM_DISPATCHER_FILENAME = '/index.php';
var CCM_CID = 1;
var CCM_EDIT_MODE = false;
var CCM_ARRANGE_MODE = false;
var CCM_IMAGE_PATH = "/updates/concrete5.6.1.2_updater/concrete/images";
var CCM_TOOLS_PATH = "/index.php/tools/required";
var CCM_BASE_URL = "http://floridainsuranceschool.com";
var CCM_REL = "";

</script>

  <link rel="shortcut icon" href="/files/7513/5661/7366/logo16-03.ico" type="image/x-icon" />
  <link rel="icon" href="/files/7513/5661/7366/logo16-03.ico" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="/updates/concrete5.6.1.2_updater/concrete/css/ccm.base.css?v=e8ba24fac2a591615d68134aacd12ba8" />
<script type="text/javascript" src="/updates/concrete5.6.1.2_updater/concrete/js/jquery.js?v=e8ba24fac2a591615d68134aacd12ba8"></script>
<script type="text/javascript" src="/updates/concrete5.6.1.2_updater/concrete/js/ccm.base.js?v=e8ba24fac2a591615d68134aacd12ba8"></script>
<style type="text/css"> 
#blockStyle559Main2 {background-repeat:no-repeat; } 
#blockStyle213Main11 {text-align:left; background-repeat:no-repeat; margin:15px 0 0 65px; } 
</style>
<link rel="stylesheet" type="text/css" href="/packages/core_commerce/css/ccm.core.commerce.cart.css?v=e8ba24fac2a591615d68134aacd12ba8" />
<script type="text/javascript" src="/packages/core_commerce/js/ccm.core.commerce.cart.js?v=e8ba24fac2a591615d68134aacd12ba8"></script>
<link rel="stylesheet" type="text/css" href="/updates/concrete5.6.1.2_updater/concrete/css/jquery.ui.css?v=e8ba24fac2a591615d68134aacd12ba8" />
<link rel="stylesheet" type="text/css" href="/packages/jb_megamenu/blocks/jb_megamenu/css/dcmegamenu.css?v=e8ba24fac2a591615d68134aacd12ba8" />
<script type="text/javascript" src="/packages/jb_megamenu/blocks/jb_megamenu/js/jquery.hoverIntent.minified.js?v=e8ba24fac2a591615d68134aacd12ba8"></script>
<script type="text/javascript" src="/packages/jb_megamenu/blocks/jb_megamenu/js/jquery.KeyTips.js?v=e8ba24fac2a591615d68134aacd12ba8"></script>
<script type="text/javascript" src="/packages/jb_megamenu/blocks/jb_megamenu/js/jquery.dcmegamenu.1.3.3.js?v=e8ba24fac2a591615d68134aacd12ba8"></script>
<link rel="stylesheet" type="text/css" href="/packages/jb_megamenu/blocks/jb_megamenu/css/skins/blue.css?v=e8ba24fac2a591615d68134aacd12ba8" />
<link rel="stylesheet" type="text/css" href="/index.php/tools/blocks/jb_megamenu/standardcss?bID=544&amp;v=e8ba24fac2a591615d68134aacd12ba8" />
<script type="text/javascript" src="/updates/concrete5.6.1.2_updater/concrete/js/jquery.ui.js?v=e8ba24fac2a591615d68134aacd12ba8"></script>
<link href='http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo|Meie+Script' rel='stylesheet' type='text/css' />

<!-- Site Header Content //-->

<link rel="stylesheet" href="/themes/fis_greek_yogurt/css/reset.css" />
<link rel="stylesheet" href="/themes/fis_greek_yogurt/css/text.css" />
<link rel="stylesheet" href="/themes/fis_greek_yogurt/css/960_24_col.css" />
<link rel="stylesheet" media="screen" type="text/css" href="/files/cache/css/fis_greek_yogurt/main.css" />
<link rel="stylesheet" media="screen" type="text/css" href="/files/cache/css/fis_greek_yogurt/typography.css" />
<link href='//fonts.googleapis.com/css?family=Merriweather:400,700,900,300' rel='stylesheet' type='text/css' />

</head>

<body>

<!--start main container -->

<div id="main-container" class="container_24">

  <div id="header">
  
      <div id="blockStyle559Main2" class=" ccm-block-styles" >
<p><img class="upperRightImage" src="/index.php/download_file/view/9/1/" alt="" /> <img class="upperRightClip" src="assets/photos-fisweb-0240.png" alt="photos-fisweb-0240.png" width="38" height="113" /></p>
<p><a title="Home" href="/"><img title="Andy Beverly's Florida Insurance School" src="assets/Banner-Oct-2013-01.png" alt="Andy Beverly's Florida Insurance School" width="833" height="200" /></a></p></div>
      <div id="blockStyle213Main11" class=" ccm-block-styles" >

<div class="cc-cart-links">
  <a href="/index.php/cart?rcID=1" onclick="ccm_coreCommerceLaunchCart(this, '/index.php/tools/packages/core_commerce/cart_dialog'); return false">View Cart</a>
  (<span id="cc-cart-quantity" href="/index.php/tools/packages/core_commerce/cart_quantity">0 items</span>) 
  <span class='cc-checkout-link-show' style='display:none'>
      |
    <a href="https://floridainsuranceschool.com/index.php/checkout/">Checkout</a>
  </span>
</div></div><div class="jbmm blue responsive"><ul id="mega-menuh-544" class="nav mega-menuh" style="display:none;"><li class="nav-selected nav-path-selected top-level-nav first pl-1"><a href="/" target="_self" class="nav-selected nav-path-selected top-level-nav first pl-1">Home</a></li><li class="top-level-nav pl-175"><a href="/catalog/" target="_self" class="top-level-nav pl-175">Courses</a><ul class="sub_menu pid-175"><li class="first pl-213"><a href="/catalog/3-day-license-exam-preparation-course/" target="_self" class="first pl-213">3 Day Exam Prep for Property and Casualty License</a></li><li class="pl-444"><a href="/catalog/1-day-license-exam-preparation-course/" target="_self" class="pl-444">1 Day Exam Prep for Life and Health License</a></li><li class="pl-446"><a href="/catalog/2-15-online/" target="_self" class="pl-446">2-15, 2-14, 2-40 Online Course</a></li><li class="pl-214"><a href="/catalog/40-hour-life-health-va-course/" target="_self" class="pl-214">2-15 Life, Health & VA Traditional Classroom</a></li><li class="pl-224"><a href="/catalog/2-20-online/" target="_self" class="pl-224">2-20 Online Virtual Classroom</a></li><li class="pl-230"><a href="/catalog/2-20-general-lines-agent-course/" target="_self" class="pl-230">2-20 General Lines Traditional Classroom</a></li><li class="pl-223"><a href="/catalog/20-44-online/" target="_self" class="pl-223">20-44 Online Virtual Classroom</a></li><li class="pl-231"><a href="/catalog/20-44-personal-lines-agent-course/" target="_self" class="pl-231">20-44 Personal Lines Traditional Classroom</a></li><li class="pl-228"><a href="/catalog/4-40/" target="_self" class="pl-228">4-40 to 2-20 Online Virtual Classroom</a></li><li class="pl-251"><a href="/catalog/access-extension/" target="_self" class="pl-251">Access Extension - Online Course</a></li><li class="pl-271"><a href="/catalog/reschedule-course/" target="_self" class="pl-271">Reschedule Course</a></li></ul></li><li class="top-level-nav pl-445"><a href="/books/" target="_self" class="top-level-nav pl-445">Books & Software</a><ul class="sub_menu pid-445"><li class="first pl-226"><a href="/books/study-materials/" target="_self" class="first pl-226">Manuals, Flash Cards and Exam Simulators</a></li><li class="pl-342"><a href="/books/exam-simulator-info/" target="_self" class="pl-342">Exam Simulator Info</a></li><li class="pl-363"><a href="/books/limits_exam_simulator_info/" target="_self" class="pl-363">Online "Limits" Property & Casualty Test Simulator Info</a></li></ul></li><li class="top-level-nav pl-234"><a href="/inhouse/" target="_self" class="top-level-nav pl-234">In-House Classes</a></li><li class="top-level-nav pl-127"><a href="/about/" target="_self" class="top-level-nav pl-127">About</a></li><li class="top-level-nav pl-233"><a href="/help/" target="_self" class="top-level-nav pl-233">Help</a><ul class="sub_menu pid-233"><li class="first pl-408"><a href="/help/locations/" target="_self" class="first pl-408">Locations</a></li><li class="pl-222"><a href="/help/policies/" target="_self" class="pl-222">Policies</a></li><li class="pl-206"><a href="/help/computer-requirements/" target="_self" class="pl-206">Computer Requirements</a></li><li class="pl-235"><a href="/help/expert-witness/" target="_self" class="pl-235">Expert Witness</a></li><li class="pl-225"><a href="/help/faq/" target="_self" class="pl-225">FAQ</a></li><li class="pl-270"><a href="/help/privacy-policy/" target="_self" class="pl-270">Privacy Policy</a></li><li class="pl-278"><a href="/help/getting-license/" target="_self" class="pl-278">Getting a License</a></li><li class="pl-279"><a href="/help/links/" target="_self" class="pl-279">Links</a></li><li class="pl-294"><a href="/help/free-downloads/" target="_self" class="pl-294">Free Downloads</a></li><li class="pl-351"><a href="/help/errata/" target="_self" class="pl-351">Errata</a></li></ul></li><li class="top-level-nav pl-249"><a href="/job-board/" target="_self" class="top-level-nav pl-249">Job Board</a></li></ul></div>
<!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->
<script type="text/javascript">
$(function() {
  $('#mega-menuh-544').fadeIn('fast');
  $('#mega-menuh-544').dcMegaMenu({
    rowItems: '1',
    speed: 200,
    effect: 'slide',
    event: 'hover',
    fullWidth: false
  });
$('#mega-menuh-544 .sub-container').hide();
});
</script>
    
    <div id="header-image">
    
          
    </div>
    
  </div>
  
  <div class="clear"></div>
  
  <div class="clear"></div>

  <div id="main-content-container" class="grid_24">
    <div id="main-content-inner">
    
      <p><span style="color: #993300;"><strong>Note:</strong> New classes in 2015 - 1 day Life &amp; Health exam prep and Life &amp; Health Online Self-paced courses (2-15, 2-14 and 2-40 licenses)<strong></strong><strong style="color: #993300;"></strong>. We also have "<strong>webinar</strong>" classes which allow you to participate in a live class from home, and "<strong>self paced</strong>" classes, which allow you to study on evenings and weekends as your schedule permits </span></p>
<p><span style="color: #993300;"><em>To see classes and dates, hover over "<strong>Courses</strong>" in the menu and select the type of class you're looking for.</em></span></p><h2>Teaching and Advising Insurance Professionals...</h2>
<h3>for Over 50 Years</h3><p>Under <a title="Andy Beverly, CLU, CPCU, ChFc Insurance Expert Witness" href="/about/">Andy Beverly’s</a> leadership we have provided quality insurance education statewide for more than 50 years. Over 80,000 students have been through the school’s various courses at last count.</p>
<h4>Why attend the Andy Beverly School?</h4>
<p>Does it matter who you do your pre-licensing education with? It does matter if you believe that a strong career in insurance starts with good information and good teaching. Florida Insurance School teachers make sure you have the tools you need for a great start in the insurance industry. You will certainly be prepared for your state exam; after all, our students have been passing longer than anyone else's. But you're also enrolling in a school that is interested in the success of this industry. Even if you call us 20 years after the last licensing class you take with us, we'll help you any way we can.</p>
<h4>When and Where can I take classes?</h4>
<p>Wondering when and where classes take place? The <a title="Course Catalog and Study Materials" href="/catalog/">Courses &amp; Materials</a> link at the top of the page will take you to a list of in-class and online courses, books and study tools for licenses including the 2-20 General Lines Agent, the 20-44 Personal Lines Agent, and Life Health and Variable Annuities. Depending on demand, we may also add classes and locations throughout the year. If you have a group of students who need <a title="Insurance classes at your company's location" href="/help/inhouse/">classes at your location</a>, we can accommodate that as well.</p><h4>Do you offer Online Classes?</h4>
<p>We offer our own online classes and webinars. All of the webinars and most of the self-paced classes we offer are designed and produced by us. This ensures that you always have an experienced teacher to answer your questions. By giving you access to our own real, experienced teachers, we have bridged the gap between classroom courses and distance learning. Others attempt to save costs by automating their courses and not making teachers available. We have no interest in that. If you want to talk to a teacher on the phone, send an email, post in the Q&amp;A forum or chat, even stop by the office for help, that's all part of what you get when you sign up for our online classes.</p>
<p>Here are a few other reasons our students consider online classes:</p>
<ul>
<li>They can be less expensive because you have no travel or hotel costs.</li>
<li>You can learn from the comfort of your home or office.</li>
<li>You can learn at your own pace, whether faster or slower than a classroom course.</li>
<li>You can always reach a knowledgeable teacher when you need help, and a teacher will check on your progress periodically.</li>
<li>Start the course when you want: no waiting for scheduled classes.</li>
<li>Complete reading assignments from anywhere: a park, the beach, a coffee shop.</li>
<li>High student satisfaction! Competing self-paced courses offer no help from teachers and make learning difficult. We do everything we can to send you fully prepared into the industry.</li>
</ul><h4>Interested in what other students are saying?</h4>
<p>Here are some excerpts from just a few of the actual emails we received in 2012:</p>
<p style="padding-left: 30px;">LaShondra: We all [7] passed from the flood team. Thank you!!!<br /><br />Jimmy: Took the [2-20] test this morning. Made 92.7%. Glad it is over.<br /><br />Charles: Thanks for providing the tools and training to accomplish this goal! Praise God, I passed the General Lines Insurance Agent exam with a score of 89%!<br /><br />Jimmy: Thanks for the preparation. Passed the L &amp; H test today with a score of 92%.<br /><br />Melissa: I passed [the 20-44] with an 84!<br /><br />Richard: I took your exam prep class last weekend. I just took my exam yesterday and passed...</p>
<p style="padding-left: 30px;">Janet: Thank you again for leading a fantastic class (10/18 - 10/20) that assisted me in getting a passing grade on my first attempt!! I got an 84%!!<br /><br />Matt: Thanks for everything. I passed with an 80%. I saw a lot of familiar questions on the test.<br /><br />Helene: Hi I just wanted to let you know that I took the test and passed today.<br /><br />Elizabeth: Yayyyyyyyt I passed 74 who cares yayyyyy thank you<br /><br />Darryl: I passed on my first try!<br /><br />Christina: I passed my exam today with a 75%<br /><br />Brian: Thank you so much for all of the information you provided for us in those three days. I am HAPPY to say that I PASSED the state exam on my first try with a 74%!!!!!!!!!!!!!!!!!!!!!<br /><br />Jamie: I just finished attending your crash course this past weekend. [...] Well… I PASSED!<br /><br />Michael: I was enrolled in your prep course for the 2-20 license, and wanted to thank you for such a great course. I took my state exam this morning and passed... You made the material easy to understand.</p><p><strong>Class information, registration, manuals or CDs</strong><br /> 15453 N. Dale Mabry Hwy.<br />Tampa, Florida 33618<br />813-962-4297<br />813-264-1995  Fax<br /> Email: <a href="mailto:sales@floridainsuranceschool.com">sales@floridainsuranceschool.com</a><br /> <br /> <strong>Andy Beverly Contact Info:</strong><br />15453 N. Dale Mabry Hwy.<br />Tampa, Florida 33618<br />813-962-4297<br />813-264-1995  Fax<br />Email: <a href="mailto:info@floridainsuranceschool.com">info@floridainsuranceschool.com</a></p>      
    </div>
  
  </div>
  
  <!-- end full width content area -->
  
<div class="clear"></div>
  
  <div id="footer">
  
    <div id="footer-inner">
    
      <p class="footer-sign-in">
              <span class="sign-in"><a href="/index.php/login/">Sign In to Edit this Site</a></span>
            </p>
      
      <div class="clear"></div>
      <p class="footer-copyright">&copy;2015 Andy Beverly's Florida Insurance School.</p>
      <p class="footer-tag-line">Call us: <strong>813-962-4297</strong> or toll free <strong> 800-634-5813</strong></p>

    </div>
  
  </div>

<!-- end main container -->

</div>

<!-- START CLICKY --><script src="http://static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100629787); }catch(err){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/100629787ns.gif" /></p></noscript><!-- END CLICKY --><script type="text/javascript" src="/updates/concrete5.6.1.2_updater/concrete/js/jquery.form.js?v=e8ba24fac2a591615d68134aacd12ba8"></script>

<img src="assets/comodo_secure_113x59_transp.png" alt="Comodo SSL Seal" />

</body>
</html>

